/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html{
  background: url(../globe.jpeg);
  background-size: cover;
  font-family: 'Noto Serif Display';
}
body{
  display: flex;
  flex-direction: column;
  margin: 0 20%;
}
h1, h2, h3, h4, img, div{
  align-self: center;
}
div{
  margin-bottom: 25px;
}

h1{
  font-size: 200%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
